################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KhosuRoom.DataAccess/Migrations/20260212214244_CreateDataBaseNew.cs
