################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KhosuRoom.DataAccess/Migrations/20260212214244_CreateDataBaseNew.cs

################################################################################
# Visual Studio
################################################################################

.vs/

################################################################################
# Build folders
################################################################################

bin/
obj/

################################################################################
# User files
################################################################################

*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Logs
################################################################################

*.log

################################################################################
# OS
################################################################################

.DS_Store
Thumbs.db

################################################################################
# Your custom ignore
################################################################################

/KhosuRoom.DataAccess/Migrations/20260212214244_CreateDataBaseNew.cs
# App settings (secret configs)
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json